VulkanProject/.vs/VulkanProject.slnx/v18/Browse.VC.opendb
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-wal
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-wal
