VulkanProject/.vs/VulkanProject.slnx/v18/Browse.VC.opendb
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-wal
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-wal
VulkanProject/.vs/VulkanProject.slnx/v18/ipch/AutoPCH/d2a964b7d632e726/MAIN.ipch
VulkanProject/.vs/VulkanProject.slnx/v18/ipch/AutoPCH/a6207234ddec0227/MAIN.ipch
VulkanProject/.vs/VulkanProject.slnx/v18/ipch/AutoPCH/604edf7585510d7/TEST.ipch
VulkanProject/.vs/VulkanProject.slnx/v18/ipch/AutoPCH/458f910ed1810211/TMP477A.TMP.ipch
VulkanProject/.vs/VulkanProject.slnx/FileContentIndex/b934b50e-9762-4c3e-acb2-ff8c876bc565.vsidx
VulkanProject/.vs/VulkanProject.slnx/FileContentIndex/a9295730-c8e5-487b-8722-8c9769491fdf.vsidx
VulkanProject/.vs/VulkanProject.slnx/FileContentIndex/9fd7ddda-6b98-469e-8548-02bf6cf394ff.vsidx
VulkanProject/.vs/VulkanProject.slnx/FileContentIndex/9fd320ac-30a3-4a52-8218-bc009cda6d2f.vsidx
VulkanProject/.vs/VulkanProject.slnx/FileContentIndex/85e9d1ee-1539-4a54-9cc2-b7e5f49f6f79.vsidx
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/CodeChunks.db-wal
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-shm
VulkanProject/.vs/VulkanProject/CopilotIndices/18.0.925.419/SemanticSymbols.db-wal
*.ipch
*.vsidx
